/* About Me Section */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
  margin: 0; /* Reset default margins */
}

/* Main content area should grow to fill the available space */
.main-content {
  flex: 1;
}

.about {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: space-between; /* Distributes space */
  background-color: var(--black);
  color: #fff;
  padding: 5rem 10%; /* Adjusted padding */
  gap: 4rem; /* Reduces space between text & image */
}

.about__image {
  flex: 1;
  max-width: 40%; /* Increase image size */
  align-self: center;
}

.about__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.1); /* Soft glow effect */
  transition: transform 0.3s ease-in-out;
}

.about__image img:hover {
  transform: scale(1.02); /* Subtle zoom effect */
}


.about__content {
  flex: 1.2; /* Make the text container slightly larger */
  max-width: 60%;
  text-align: justify;
}

.about__content h1 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem; /* Reduces extra space */
}

.about__content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 3rem; /* More space before "My Work" */
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--light-blue);
  display: inline-block;
}

.about__content p {
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 85%;
  color: #ddd;
}

.about__content ul {
  list-style: none;
  padding: 0;
}

.about__content li {
  margin-bottom: 15px;
  font-size: 1.1rem;
  line-height: 1.6;
    color: #ddd; 
  position: relative;
  padding-left: 20px;
}

/* Add a subtle bullet point */
.about__content li::before {
  content: "❊";
  color: var(--light-blue);
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  line-height: 1.2;
}

.about__content li strong {
  margin-bottom: 15px;
  font-size: 1.rem;
  color: var(--light-blue);
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
}


/* Links minimalistas */
.about__content a {
    color: #76edf1;
    text-decoration: none;
    font-weight: bold;
}

.about__content a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
  .about {
      flex-direction: column; /* Stack elements */
      text-align: center;
      padding: 3rem 5%;
      gap: 3rem;
  }

  .about__content {
      max-width: 100%;
  }

  .about__image {
      max-width: 90%;
  }
}