/* About Me Section */

body, .navbar, .footer__container {
    background-color: var(--black); /* Black background for entire page */
    color: #fff; /* White text for contrast */
    margin: 0;
    padding: 0;
    width: 100%;
}

.about {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; 
    background-color: var(--black); /* Black background */
    color: #fff; /* White text for contrast */
    padding: 5rem;
    gap: 10rem; /* Space between image and content */
}

.about__image {
    flex: 1;
    max-width: 30%; /* Adjust image width */
    align-self: center;
}

.about__image img {
    width: 100%; 
    height: auto;
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners for a modern feel */
}


.about__content {
    flex: 1;
    max-width: 50%;
    text-align: justify;
}

.about__content h1 {
    margin-bottom: 40px; /* Adds space below the 'About Me' heading */
  }
  
  .about__content p {
    margin-bottom: 50px; /* Adds space below the 'About Me' paragraph */
    line-height: 1.6; /* Keeps the text easily readable */
  }
  
  .about__content h2 {
    margin-top: 60px; /* Adds more space above 'My Work' */
    margin-bottom: 30px; /* Space below the 'My Work' heading */
  }
  
  .about__content ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
  }
  
  .about__content li {
    margin-bottom: 20px; /* Adds space between each list item */
    line-height: 1.6; /* Adjusts line height for readability */
  }
  
.about__content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about__content li {
    font-size: 1.0rem;
    line-height: 1.5;
}


/* Links minimalistas */
.about__content a {
    color: #76edf1;
    text-decoration: none;
    font-weight: bold;
}

.about__content a:hover {
    text-decoration: underline;
}